header.header
  .header__container.container
    .header__top
      a(href="index.html").header__logo
        img(src="images/logo/logo_no_text.svg", alt="logo")
        p YOGA GAMES
      .header__top-right
        ul.header__social.list-reset
          li
            a(href="#" target="blank") Facebook
          li
            a(href="#" target="blank") Instagram
        .header__lang
          img(src="images/icon/latvia.svg", alt="lang")
          img(src="images/icon/russian.svg", alt="lang")
    .header__bottom
      .header__menu
        nav
          ul.nav.list-reset.header__nav
            li.nav__item
              a(href="program.html").nav__link About Us
              ul
                li
                  a(href="program.html") Program
                li
                  a(href="galery.html") Galery
                li
                  a(href="blog.html") Blog
            li.nav__item
              a(href="shedule.html").nav__link Schedule
            li.nav__item
              a(href="prices.html").nav__link Prices
            li.nav__item
              a(href="events.html").nav__link Birthday Party
            li.nav__item
              a(href="adults.html").nav__link For Adults
            li.nav__item
              a(href="retreat.html").nav__link Retreat
        a(href="contacts.html").special-button 
          span Contact us
      .header__mobile
        .header__mobile-container
          a(href="index.html").header__logo--mobile
            img.image-contain(src="images/logo/logo.svg", alt="logo")
          .burger
            span
            span
            span
    .burger__menu
      .burger__menu-wrapper
        a(href="index.html").burger__menu-link Home
        nav
          ul.burger__menu-nav.list-reset
            li
              a(href="program.html") About Us
              ul
                li
                  a(href="program.html") About Program
                li
                  a(href="galery.html") Galery
                li
                  a(href="blog.html") Blog
            li
              a(href="shedule.html") Schedule
            li
              a(href="prices.html") Prices
            li.nav__item
              a(href="events.html") Birthday Party
            li.nav__item
              a(href="adults.html") For Adults
            li.nav__item
              a(href="retreat.html") Retreat
        a(href="contacts.html").burger__menu-link Contacts
