meta(charset='UTF-8')
//- Fonts
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
//- Fav icon
link(rel="apple-touch-icon" sizes="180x180" href="images/fav/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="images/fav/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="images/fav/favicon-16x16.png")
//- link(rel="manifest" href="/site.webmanifest")
//- link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
//- meta(name="msapplication-TileColor" content="#da532c")
//- meta(name="theme-color" content="#ffffff")
//- Useful meta tags
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
//- <meta name="viewport" content="width=1280"> ширина видимого контента, уменьшается сайт без адаптации
meta(name='robots' content='index, follow')
//- чтоб не бесил выплывающий перевод страницы
meta(name='google' value='notranslate')
//- Swiper CDN
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
script(src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js')
//-GSAP
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" defer)
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" defer)