header.header
  .header__container.container
    .header__top
      a(href="index.html").header__logo
        img(src="images/logo/logo_no_text.svg", alt="logo")
        p BEST YOGA KIDS PROGRAMM
      .header__top-right
        ul.header__social.list-reset
          li
            a(href="#" target="blank") Youtube
          li
            a(href="#" target="blank") Facebook
          li
            a(href="#" target="blank") Instagram
        .header__lang
          img(src="images/icon/latvia.svg", alt="lang")
          img(src="images/icon/russian.svg", alt="lang")
          img(src="images/icon/english.svg", alt="lang")
    .header__bottom
      .header__menu
        nav
          ul.nav.list-reset.header__nav
            li.nav__item
              a(href="#about-us").nav__link About Us
              ul
                li
                  a(href="#") Program
                li
                  a(href="#") Galery
                li
                  a(href="#") Blog
            li.nav__item
              a(href="#").nav__link Schedule
            li.nav__item
              a(href="#").nav__link Prices
            li.nav__item
              a(href="#").nav__link Birthday Party
            li.nav__item
              a(href="#").nav__link For Adults
            li.nav__item
              a(href="#").nav__link Retreat
        a(href="#").primary-button Contact us
      .header__mobile
        .header__mobile-container
          .a(href="index.html").header__logo--mobile
            img.image-contain(src="images/logo/logo.svg", alt="logo")
          .burger
            span
            span
            span
    .burger__menu
      .burger__menu-wrapper
        nav
          ul.burger__menu-nav.list-reset
            li
              a(href="#about-us") About Us
              ul
                li
                  a(href="#") About Program
                li
                  a(href="#") Galery
                li
                  a(href="#") Blog
            li
              a(href="#") Schedule
            li
              a(href="#") Prices
            li.nav__item
              a(href="#") Birthday Party
            li.nav__item
              a(href="#") For Adults
            li.nav__item
              a(href="#") Retreat
        a(href="#").primary-button Contact us
    
        