section.single-event.big-section
  h3.single-event__title Pirate Birthday
  h4.single-event__subtitle Yoga quest
  .single-event__content
    .single-event__col
      .swiper.single-event__swiper
        .swiper-wrapper.single-event__swiper-wrapper
          .swiper-slide.single-event__slide.image-cover
            img(src="images/birthday_2.jpg", alt="")
          .swiper-slide.single-event__slide.image-cover
            img(src="images/birthday_3.jpg", alt="")
          .swiper-slide.single-event__slide.image-cover
            img(src="images/birthday_4.jpg", alt="")
        .swiper-navigation.single-event__navigation
          .single-event__swiper-btn-prev
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="24" transform="matrix(-1 0 0 1 50 0)" fill="white" stroke="#D2F179" stroke-width="2"/>
              <path d="M31.625 35.1455L20 25L31.625 14.8545C32.125 14.4182 32.125 13.7273 31.625 13.3273C31.125 12.8909 30.3333 12.8909 29.875 13.3273L17.375 24.2364C17.125 24.4545 17 24.7455 17 25C17 25.2545 17.125 25.5455 17.375 25.7636L29.875 36.6727C30.375 37.1091 31.1667 37.1091 31.625 36.6727C32.125 36.2364 32.125 35.5818 31.625 35.1455Z" fill="#D2F179"/>
            </svg>
          .single-event__swiper-btn-next
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="24" transform="matrix(-1 0 0 1 50 0)" fill="white" stroke="#D2F179" stroke-width="2"/>
              <path d="M31.625 35.1455L20 25L31.625 14.8545C32.125 14.4182 32.125 13.7273 31.625 13.3273C31.125 12.8909 30.3333 12.8909 29.875 13.3273L17.375 24.2364C17.125 24.4545 17 24.7455 17 25C17 25.2545 17.125 25.5455 17.375 25.7636L29.875 36.6727C30.375 37.1091 31.1667 37.1091 31.625 36.6727C32.125 36.2364 32.125 35.5818 31.625 35.1455Z" fill="#D2F179"/>
            </svg>
    .single-event__col
      ul.single-event__info.list-reset
        li
          .single-event__label Description
          .single-event__text A team led by a host (pirate) will have to show ingenuity and courage to go through all the pirate tests and find treasures. Yoga games accompany children during the course of the program. After the quest, the children celebrate and eat at the table
        li  
          .single-event__label Duration
          .single-event__text 2 hours
        li  
          .single-event__label Age group
          .single-event__text 4+
        li  
          .single-event__label Price
          .single-event__text
            span € 120
            |- 
            span 8 kids group
            |, +1 more kid - 
            span € 15
        li  
          .single-event__label Max kids
          .single-event__text 14
        li  
          .single-event__label Program
          ul.single-event__program-list.list-reset
            li Treasures found will be celebrated with joyful dances and active yoga games
            li Fantastic transformation into pirates
            li Interactive obstacle course
            li Solemn initiation into pirates
            li Mysterious treasure map
            li Treasure hunt
      a(href="#").primary-button Party Request


section.single-event.big-section
  h3.single-event__title Vegetarian Cooking Workshop
  h4.single-event__subtitle Workshop
  .single-event__content
    .single-event__col
      .swiper.single-event__swiper
        .swiper-wrapper.single-event__swiper-wrapper
          .swiper-slide.single-event__slide.image-cover
            img(src="images/cooking_1.jpg", alt="")
          .swiper-slide.single-event__slide.image-cover
            img(src="images/cooking_2.jpg", alt="")
          .swiper-slide.single-event__slide.image-cover
            img(src="images/cooking_.jpg", alt="")
        .swiper-navigation.single-event__navigation
          .single-event__swiper-btn-prev
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="24" transform="matrix(-1 0 0 1 50 0)" fill="white" stroke-width="2"/>
              <path d="M31.625 35.1455L20 25L31.625 14.8545C32.125 14.4182 32.125 13.7273 31.625 13.3273C31.125 12.8909 30.3333 12.8909 29.875 13.3273L17.375 24.2364C17.125 24.4545 17 24.7455 17 25C17 25.2545 17.125 25.5455 17.375 25.7636L29.875 36.6727C30.375 37.1091 31.1667 37.1091 31.625 36.6727C32.125 36.2364 32.125 35.5818 31.625 35.1455Z"/>
            </svg>
          .single-event__swiper-btn-next
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="24" transform="matrix(-1 0 0 1 50 0)" fill="white" stroke-width="2"/>
              <path d="M31.625 35.1455L20 25L31.625 14.8545C32.125 14.4182 32.125 13.7273 31.625 13.3273C31.125 12.8909 30.3333 12.8909 29.875 13.3273L17.375 24.2364C17.125 24.4545 17 24.7455 17 25C17 25.2545 17.125 25.5455 17.375 25.7636L29.875 36.6727C30.375 37.1091 31.1667 37.1091 31.625 36.6727C32.125 36.2364 32.125 35.5818 31.625 35.1455Z"/>
            </svg>
    .single-event__col
      ul.single-event__info.list-reset
        li
          .single-event__label Description
          .single-event__text A team led by a host (pirate) will have to show ingenuity and courage to go through all the pirate tests and find treasures. Yoga games accompany children during the course of the program. After the quest, the children celebrate and eat at the table
        li  
          .single-event__label Duration
          .single-event__text 2 hours
        li  
          .single-event__label Age group
          .single-event__text 4+
        li  
          .single-event__label Price
          .single-event__text
            span € 120
            |- 
            span 8 kids group
            |, +1 more kid - 
            span € 15
        li  
          .single-event__label Max kids
          .single-event__text 14
        li  
          .single-event__label Program
          ul.single-event__program-list.list-reset
            li Treasures found will be celebrated with joyful dances and active yoga games
            li Fantastic transformation into pirates
            li Interactive obstacle course
            li Solemn initiation into pirates
            li Mysterious treasure map
            li Treasure hunt
      a(href="#").primary-button Party Request
    