extends ../layout/main

block main-vars
  - var title = 'Page title';
  - var description = 'Description';
  - var keywords = 'Description';
  - var bodyClass = 'body body-adults';
  - var pageClass = 'page__adults';

block content
  .container
    .adults__section.adults__section-hero
      .adults__block-hero(data-speed=".6")
        .adults__caption
          .adults__caption-subtitle FOR
          h1.huge-title Pieaugušie
      .adults__block-hero(data-speed=".75")
        .adults__block-image.adults__block-image-hero.image-cover
          img(src="images/meditation_3.jpg", alt="")
    .adults__section
      .adults__block
        .adults__block-content
          h2.section-title Yoga relax
          .adults__block-label Description
          p We take your special day VERY SERIOUSLY. Completely customizable, your child chooses the theme and we make it happen. Parties begin with 45 minutes of yoga & games and conclude with a traditional birthday celebration
          ul.list-reset.adults__block-table
            li
              .adults__block-label Duration
              p 1 hour
            li
              .adults__block-label Shedule
              p Tuesday — 6:30 pm
              p Thursday — 6:30 pm
            li
              .adults__block-label Cost
              p 1 session - 10 €
              p 4 session - 48 €
              p 8 session - 70 €
              p 10 session - 80 €
          a(href="#").primary-button Register For Class
      .adults__block
        .adults__block-image.image-cover
          img(src="images/group_2.jpg", alt="")
    .adults__section
      .adults__block
        .adults__block-content
          h2.section-title Yoga Nidra Meditation
          .adults__block-label Description
          p Yoga Nidra is a psychotechnic developed by Swami Satyananda Saraswati. This technique is associated with the sequential processing of parts of our body in the motor cortex and the sensory area of ​​​​the brain, which causes a deep meditative state. This practice is called sleep yoga, or yogic sleep.
          ul.list-reset.adults__block-table
            li
              .adults__block-label Duration
              p 1 hour
            li
              .adults__block-label Shedule
              p Friyday — 6:30 pm
            li
              .adults__block-label Cost
              p 10 €
          a(href="#").primary-button Register For Class
      .adults__block
        .adults__block-image.image-cover
          img(src="images/woman_12.jpg", alt="")
    .adults__section
      .adults__block
        .adults__block-content
          h2.section-title Sonic meditation with Tibetan bowls
          .adults__block-label Description
          p We take your special day VERY SERIOUSLY. Completely customizable, your child chooses the theme and we make it happen. Parties begin with 45 minutes of yoga & games and conclude with a traditional birthday celebration
          ul.list-reset.adults__block-table
            li
              .adults__block-label Duration
              p 30 min
            li
              .adults__block-label Shedule
              p Tuesday — 6:30 pm
            li
              .adults__block-label Cost
              p 15 €
          a(href="#").primary-button Register For Class
      .adults__block
        .adults__block-image.image-cover
          img(src="images/bowl_1.jpg", alt="")