extends ../layout/main

block main-vars
  - var title = 'Page title';
  - var description = 'Description';
  - var keywords = 'Description';
  - var bodyClass = 'body';
  - var pageClass = 'page__post';

block content
  .container
    section.post.big-section
      .post__inner
        .post__category Category
        h1.post__title.section-title What good is yoga in hammocks? Who should do air yoga and what to expect from the lessons?
        .post__date 15 feb 2023
        .post__text 
          p We take your special day VERY SERIOUSLY. Completely customizable, your child chooses the theme and we make it happen. Parties begin with 45 minutes of yoga & games and conclude with a traditional birthday celebration. They can be held at your residence or at a venue of your choice (rental fees additional). Instructors provide mats, props and themed goodies and parents assist with the celebration and clean.
        .post__image.image-cover
          img(src="images/cooking_1.jpg", alt="")
        .post__text
          h2.post__text-title Subtitle for the text
          p We take your special day VERY SERIOUSLY. Completely customizable, your child chooses the theme and we make it happen. Parties begin with 45 minutes of yoga & games and conclude with a traditional birthday celebration. They can be held at your residence or at a venue of your choice (rental fees additional). Instructors provide mats, props and themed goodies and parents assist with the celebration and clean.
          p We take your special day VERY SERIOUSLY. Completely customizable, your child chooses the theme and we make it happen. Parties begin with 45 minutes of yoga & games and conclude with a traditional birthday celebration. They can be held at your residence or at a venue of your choice (rental fees additional). Instructors provide mats, props and themed goodies and parents assist with the celebration and clean.
        .post__tags 
          ul.list-reset.post__tags-list 
            li #Yoga 
            li #Kids 
            li #Cooking
            li #Relax
    section.blog__posts.last-posts
      ul.list-reset.last-posts__list
        li.last-posts__item
          .last-posts__date 23 January 2023
          .last-posts__image.image-cover
            img(src="images/cooking_.jpg", alt="")
          .last-posts__content
            .animated-container
              h3.animated-inner What good is yoga in hammocks? Who should do air yoga and what to expect from the lessons
            .animated-container
              p.animated-inner The retreat can be done over two days and there’s around 2.5 hours’ of classes each day. You might choose.
          .last-posts__button
            a(href="single-post.html") Read more
        li.last-posts__item
          .last-posts__date 23 January 2023
          .last-posts__image.image-cover
            img(src="images/mother_daughter_1.jpg", alt="")
          .last-posts__content
            .animated-container
              h3.animated-inner The philosophy of yoga nutrition for beginners: vegetarianism and why?
            .animated-container
              p.animated-inner The retreat can be done over two days and there’s around 2.5 hours’ of classes each day. You might choose to do.
          .last-posts__button
            a(href="single-post.html") Read more
        li.last-posts__item
          .last-posts__date 23 January 2023
          .last-posts__image.image-cover
            img(src="images/woman_9.jpg", alt="")
          .last-posts__content
            .animated-container
              h3.animated-inner TWhat good is yoga in hammocks? Who should do air yoga and what to expect from the lessons air yoga and what
            .animated-container
              p.animated-inner The retreat can be done over two days and there’s around 2.5 hours’ of classes each day. You might choose to do.
          .last-posts__button
            a(href="single-post.html") Read more
