.btn-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;

    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background: $black;
    box-shadow: none;

    display: none;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, 0) rotate(45deg);
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        transform: translate(-50%, -10%) rotate(45deg);
    }

    svg {
        width: 10px;
        height: 10px;
        fill: $white;
        transform: rotate(45deg);
    }
    &.active {
        display: flex;
    }
}