.btn-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;

    width: 30px;
    height: 30px;
    padding: 5px;
    background: $gray-dark;
    box-shadow: none;
    opacity: 0.7;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 15px;
        height: 15px;
        fill: $white;
    }
    &.active {
        display: flex;
    }
}