.header {
  padding: 0 $page-padding;
  @include breakpoint($desktop) {
    padding: 0 $page-padding-S;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 70px;
    @include breakpoint($desktop) {
      padding: 5px 30px;
    }
    &-right {
      display: flex;
      align-items: center;
      @include breakpoint($desktop) {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  &__lang {
    display: flex;
    align-items: center;
    img {
      width: 25px;
      height: 20px;
      @include breakpoint($mobile) {
        width: 20px;
        height: 15px;
      }
      &:not(:last-child) {
        margin-right: 10px;
        @include breakpoint($mobile) {
          margin-right: 5px;
        }
      }
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    p {
      color: $black;
      font-weight: 500;
    }
    &--mobile {
      width: 35px;
      height: 25px;
    }
    @include breakpoint($desktop) {
      display: none;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    margin-right: 50px;
    @include breakpoint($mobile) {
      margin-right: 0px;
    }
    li:not(:last-child) {
      margin-right: 30px;
      @include breakpoint($mobile) {
        margin-right: 15px;
      }
    }
    a {
      color: $gray-dark;
      &:hover {
        color: $black;
      }
    }
    @include breakpoint($mobile) {
      font-size: 12px;
    }
  }
  &__bottom {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: calc(100% - 2*$page-padding);
    width: 90%;
    padding: 0px 70px;
    background: $white;
    border-radius: $br;
    z-index: 99;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s ease-in-out;
    &.upped {
      top: 0px;
    }
    @include breakpoint($desktop) {
      top: 35px;
      padding: 0 30px;
    }
    &.mobile-menu-opened {
      top: 0;
    }
  }
  &__menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint($desktop) {
      display: none;
    }
  }
  .nav {
    display: flex;
    margin-right: 100px;
    li {
      position: relative;
      &:not(:last-child) {
        margin-right: 40px;
      }
      a {
        color: $black;
        font-weight: 500;
        display: block;
        padding: 20px 0;
        transition: all .2s ease-in-out;
        position: relative;
        z-index: 2;
        &:hover ~ .nav__hover {
          transform: scale(1);
          animation: rotate-scale 3s linear infinite;
          animation-delay: 0.2s;
        }
        &.active ~ .nav__hover {
          transform: scale(1);
        }
      }
    }
  }
  &__mobile {
    display: none;
    height: 50px;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    
    @include breakpoint($desktop) {
      display: flex;
    }
    &-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    
  }
}

.nav__hover {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px;
  transform: scale(0);
  z-index: 1;
  width: 40px;
  height: 40px;
  background: $green;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.nav li ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 95%;
  background: $white;
  border-radius: $br;
  width: 100%;
  padding: 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear;

  li {
    position: relative;
    width: 250px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-right: 100px;
    }
    a {
      color: $black;
      font-weight: 700;
      font-size: $font-size-L;
      line-height: 140%;
      text-align: center;
      width: 100%;
      position: relative;
      z-index: 2;
      &:hover ~ .subnav__hover {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.nav li:has(ul) a {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $green;
  }
}

.nav li:hover ul {
  visibility: visible;
  opacity: 1;
}

.nav li ul li .nav__hover {
  display: none;
}

.nav li ul li a:after {
  display: none;
}

.subnav__hover {
  transition: all .3s ease-in-out;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px;
  transform: scale(0);
  opacity: 0;
}
