.page-pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
  li {
    color: $gray-dark;
    cursor: pointer;
    display: block;
    transition: all .2s linear;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      color: $black;
    }
    &.active {
      color: $black;
    }
  }
}

//WP-styles//

.wp-pagenavi {
  width: 100%;
  display: flex;
  justify-content: center;
  span, a {
    color: $gray-dark;
    cursor: pointer;
    display: block;
    text-decoration: none;
    transition: all .2s linear;
    margin-right: 0 10px;
    &:hover {
      color: $black;
    }
    &.active {
      color: $black;
    }
  }
}