nav
  ul.nav.list-reset
    li.nav__item
      a(href="index.html").nav__link.active Home
    li.nav__item
      a(href="#").nav__link About
    li.nav__item
      a(href="#").nav__link Services
    li.nav__item
      a(href="#").nav__link Contacts
    //- li.nav__item
    //-   a(href="#" target="blank").nav__link New page
