.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title {
    color: $black;
    font-family: $font-family-title;
    font-weight: 700;
    font-size: $font-size-XXXL;
    text-align: center;
    @include breakpoint($desktop) {
      font-size: $font-size-XXL;
    }
    @include breakpoint($mini-tablet) {
      font-size: $font-size-XL;
    }
  }
  &__image {
    position: relative;
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint($desktop) {
      width: 768px;
      height: 300px;
    }
    @include breakpoint($mini-tablet) {
      width: 480px;
      height: 200px;
    }
    @include breakpoint($mobile) {
      width: 300px;
      height: 120px;
      margin-bottom: 20px;
    }
    &-bg {
      position: relative;
      width: 95%;
      height: 95%;
      overflow: hidden;
      background: $black;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-container {
      position: absolute;
      bottom: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @include breakpoint($mobile) {
        bottom: 10px;
      }
    }
    &-small {
      width: 25%;
      margin: 0 auto;
      opacity: 0;
      transition: all 0.2s linear;
      &.start-animation {
        opacity: 1;
      }
      &:not(:first-child) {
        @include breakpoint($mobile) {
          display: none;
        }
      }
    }
  }
  &__button {
    position: relative;
    z-index: 10;
    transform: translateY(-20%);
    opacity: 0;
    &.start-animation {
      @include animation-slide-down(0.3s, 1.2s);
    }
  }
}

#heroMask {
  position: absolute;
  top: 0;
  width: 105%;
  height: 105%;
}

#circleGradient {
  top: 50%;
  transform: translate(-50%, -30%) scale(0);
  &.start-animation {
    animation: fillTextColor 1s ease-in-out forwards;
    animation-delay: 0.3s;
  }
}

@keyframes fillTextColor {
  to {
    transform: translate(-50%, -30%) scale(2.8);
  }
}