.retreat {
  display: flex;
  justify-content: space-between;
  transition: all .5s ease-in-out;
  @include breakpoint($mini-tablet) {
    background: $orange;
  }
  &__inner {
    border: 2px solid $orange;
    background: $orange;
    transition: opacity 0.5s linear;
  }
  &__image-wrapper {
    transition: transform 1.4s linear, opacity 0.5s linear;
  }
}