.review {
  position: relative;
  // overflow: hidden;
  border-radius: $br $br 0 0;
  padding-bottom: 50px;
  margin-bottom: 50px;
  &__circle-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1500px;
    height: 1500px;
    background: linear-gradient(90deg, #FFD5CC 3.3%, #FCDBF9 100%);
    // background: linear-gradient(180deg, #FFD5CC 4.35%, #FCDBF9 33.9%, rgba(252, 219, 249, 0) 67.86%);
    border-radius: 50%;
    // transition: all 1s linear;
    @include breakpoint($tablet) {
      display: none;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: -5px;
    h2 {
      padding: 50px 0;
      @include breakpoint($tablet) {
        padding-bottom: 30px;
      }
      @include breakpoint($mini-tablet) {
        padding-bottom: 20px;
      }
    }
  }
  &__swiper {
    position: relative;
    cursor: url("./images/icon/Drag-cursor.svg"), auto;
  }
  &__slide {
    max-height: 500px;
    @include breakpoint($tablet) {
      max-height: 400px;
    }
  }
  &__pagination {
    bottom: -40px !important;
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      border-radius: 2px;
      &-active {
        background: $green;
      }
    }
  }
}

.swiper-button-disabled {
  svg {
    fill: #e9e6e6;
    cursor: not-allowed;
  }
}

